<%= image_tag "book", class: "mb-5" %>

<% @groups.each do |group| %>

<div class="container">
  <div class="card-product">
    <%= link_to group_path(group) do %>
    <%= image_tag group.image %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= group.name %></h2>
      <p><%= group.description %></p>
      <p><%= group.city %></p>
    </div>
  </div>
  <br>
</div>
<% end %>

<%= link_to "back", :back %>
