<% content_for :navbar do %>
  <%= render "shared/navbar_without_search" %>
<% end %>
<%= image_tag "book", class: "mb-5" %>

<% @groups.each do |group| %>
  <div class="container group-cards-list">
    <%= link_to group_path(group), class: "group-card-link" do %>
      <div class="card-product">
        <%= image_tag group.image %>
        <div class="card-product-infos">
          <h2><%= group.name %></h2>
          <p><%= group.description %></p>
          <p><%= group.city %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

