<% content_for :navbar do %>
  <%= render "shared/navbar_without_search" %>
<% end %>
<div class="text-center d-flex justify-content-center">
  <div class="search search-group-index">
  <%= form_tag groups_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a group...",
    class: "form-control string required"
  %>
  <% end %>
<%= submit_tag "Search", class: " search-button-banner" %>
</div>
</div>

<% @groups.each do |group| %>
  <div class="container group-cards-list">
    <%= link_to group_path(group), class: "group-card-link" do %>
      <div class="card-product">
        <%= image_tag group.image %>
        <div class="card-product-infos">
          <div class="card-product-details">
              <h2><%= group.name %></h2>
              <div><%= group.city %></div>
          </div>
          <p><%= group.description %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="back-button">
  <%= link_to "back", :back, class: "link" %>
</div>
