<%= image_tag "book", class: "mb-5" %>

<% @groups.each do |group| %>

<div class="container">
  <%= link_to group_path(group) do %>
  <div class="card-product">
  <%= image_tag group.image %>
    <div class="card-product-infos">
      <h2><%= group.name %></h2>
      <p><%= group.description %></p>
      <p><%= group.city %></p>
    </div>
  </div>
  <% end %>
  <br>
</div>
<% end %>

