<%= image_tag "book", class: "mb-5" %>

<% @groups.each do |group| %>
  <div class="container group-cards-list">
    <%= link_to group_path(group), class: "group-card-link" do %>
      <div class="card-product">
        <%= image_tag group.image %>
        <div class="card-product-infos">
          <div class="card-product-details">
              <h2><%= group.name %></h2>
              <div><%= group.city %></div>
          </div>
          <p><%= group.description %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

