<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card-body">
        <div class="card-show">
          <img src="<%= @group.image %>" class="card-img-top" alt="@group.name">
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="my-4 flex-start">
        <h2 class="card-name">
        <%= @group.name %>
        </h2>
        <p><%= @group.description %></p>
        <h4>City</h4>
        <%= @group.city %>
        <br>
        <br>
        <% @group.users.each do |user| %>
        <h4>Members</h4>
        <%= link_to profile_path(user) do %>
        <%= user.first_name %>
        <% end %>|
        <% end %>
      <br>
      </div>
    </div>
  </div>
<div>

<%= simple_form_for(@user_meeting) do |f| %>
  <div class="dates">
    <div class="form-inputs">
      <div class="form-row">
        <div id="test" data-dates="<%= @dates %>"></div>
        <%= f.input :meeting, as: :string, input_html: { class: "datepicker" }, label: 'Meet-ups', collection: @group.meetings, wrapper_html: { class: "inline_field_wrapper" } %>
        <%#= f.input :time, as: :string, input_html: { class: "datepicker" }, label: "Dates from", placeholder: "yy/mm/dd", wrapper_html: { class: "inline_field_wrapper" } %>
      </div>
    </div>
  </div>
  <div class="form-row">
    <%= f.button :submit, 'Request to Join', class: "btn btn-secondary btn-lg btn-booking" %>
  </div>
<% end %>



