<div class="container">
  <div class="back-button">
    <%= link_to "<<", :back, class: "back-link" %>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card-body">
        <div class="card-show">
          <img src="<%= @group.image %>" class="card-img-top" alt="@group.name">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="my-4 flex-start">
        <h2 class="card-name">
          <%= @group.name %>
        </h2>
        <p><%= @group.description %></p>
        <h4>City</h4>
        <%= @group.city %>
        <br>
        <br>
        <h4>Members</h4>
        <%= pluralize(@group.limitation - @group.users.count, "spot") %> left
        <div class="d-flex flex-row mt-3">
          <% @group.users.each do |user| %>
            <%= link_to profile_path(user), class: "group-member-link" do %>
              <%= image_tag (user.image) , class: "profile-avatar-small" %>
              <div class="text-center">
                <% if current_user == user %>
                 me
                <% else %>
                <%= user.first_name %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <br>
        </div>
      </div>
    </div>
<div>
<% if @future_meetings.count.positive? %>
  <%= simple_form_for(@user_meeting) do |f| %>
    <div class="dates">
      <div class="form-inputs">
        <div class="form-row">
          <div id="meeting-dates" data-meeting-dates="<%= @dates %>"></div>
          <%= f.input :meeting, as: :string, input_html: { class: "datepicker" }, label: 'Want to join an upcoming get-together?', collection: @group.meetings, wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.input :group_id, as: :hidden, input_html: { value: @group.id } %>
          <%#= f.input :time, as: :string, input_html: { class: "datepicker" }, label: "Dates from", placeholder: "yy/mm/dd", wrapper_html: { class: "inline_field_wrapper" } %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <%= f.button :submit, 'Request to Join', class: "btn btn-secondary btn-lg btn-booking" %>
    </div>
  <% end %>
<% end %>


</div>

