
<h1>username</h1>
<%= @user.username %>

<h1>user's image</h1>
<%= image_tag (@user.image) %>

<h1>user's group</h1>
<% @groups.each do |group| %>
<%= image_tag (group.image) %>
<%= group.name %>
<%= group.city %>
<br>
<%= group.description %>
<% end %>

<div class="flex-profile-container">
  <div class="flex-group-container">
    <!-- namn -->
    <% x groups %>
    <div>
      <!-- group card -->
    </div>
    <div>
      <!-- group card -->
    </div>
    <div>
      <!-- group card -->
    </div>
    <div>
      <!-- group card -->
    </div>
  </div>
  <div class="flex-upcoming-container">
    <h2>Upcoming meetup</h2>
    <!-- meeting card -->
  </div>
</div>


