<div class="container-fluid">
  <div class="flex-profile-container">
    <div class="row">
      <div class="col-sm-3 px-1 sidebar">
        <div class="py-5 sticky-top flex-grow-1 px-3 py-2">
          <div class="nav flex-sm-column text-center">
            <%= image_tag (@user.image), class: "profile-avatar mask my-3" %>
            <h3><%= @user.first_name %></h3>
            <br>
            <div id="following-container">
              <!-- render partial: following. shows 'follow'/'unfollow' -->
              <%= render 'following', user: @user, following_count: @following_count, follower_count: @follower_count %>
            </div>
            <div class="mt-3">
              <p><%= @user.first_name %>'s recent articles:</p>
              <% if @articles.empty? %>
              <% if current_user == @user %>
              Add an article to your page.
              <% else %>
              <%= @user.first_name + " hasn't written anything yet. So lazy!" %>
              <% end %>
              <% end %>
              <% @articles.each do |article| %>
              <%= link_to article_path(article), class: "group-card-link" do %>
              <div class="group-member-link">
                <%= article.title %>
              </div>
              <% end %>
              <% end %>
            </div>
            <br>
            <div class="container">
              <div class="tags">

                <% @interests.each do |interest| %>
                <div class="indie-tag">
                  <%= interest %>
                </div>
                <% end %>
              </div>
            </div>
            <br>

          </div>
        </div>
        <!-- <div class="vr">&nbsp;</div> -->
      </div>
      <div class="col-sm-6 mt-4">
        <div class="profile-groups">
          <div class="ml-4">
          <% if current_user == @user %>
          <h3>Groups I am in</h3>
          <% else %>
          <h3>Groups <%= @user.first_name %> is in</h3>
          <% end %>
          </div>
          <div class="flex-group-container">
            <% @groups.each do |group| %>
              <div class="org-card">
              <%= link_to group_path(group), class: "group-card-link" do %>
                <%= image_tag (group.image) %>
                <div class="group-public-tag">Public</div>
                <div class="org-card-infos group-member-link">
                  <div class="info-left">
                    <p><strong><%= group.name %>
                    </strong></p>
                    <!-- <p text-right><%= group.city %></p> -->
                  </div>
                  <br>
                  <div class="info-right flex-grow-1 w-100">
                    <p><%= group.description %></p>
                  </div>
                </div>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="profile-meetups col-sm-3 mt-4">
        <div class="profile-meetups">
          <% if @meeting == nil %>
          <h4>There is no upcoming get-togethers</h4>
          <% else %>
          <h3>Upcoming get-together</h3>
          <div class="upcoming-meetup-schedule">
            <div class="upcoming-meeting-month">
            <h4><%= @meeting.time.strftime("%b") %></h4>
          </div>
          <div class="upcoming-meeting-time">
            <h3><%= @meeting.time.day %></h3>
          </div>
        </div>
        <% end %>
        <div class="flex-upcoming-container">
          <% if @meeting %>
          <div class="upc-card">
            <p><strong><%= @meeting.title %></strong></p>
            <br>
            <p><%= @meeting.description %></p>
          </div>
        </div>
        <br>
        <% @meeting.user_meetings.each do |user_meeting| %>
            <% if user_meeting.unconfirmed? %>
              <div class="meeting_request">
                <% unless user_meeting.user == current_user %>
                  <%= "#{user_meeting.user.first_name} wants to join" %>
                  <%= link_to "Confirm",confirm_user_meeting_path(user_meeting.id) ,method: :post %>
                <% else %>
                  You want to join (request pending).
                <% end %>
              </div>
            <% end %>
          <% end %>
          <% end %>
      </div>

    </div>

  </div>
</div>


