
<h1>username</h1>
<%= @user.username %>

<h1>user's image</h1>
<%= image_tag (@user.image) %>


<% @interests.each do |interest| %>
<%= interest %> |
<% end %>


<h1>user's group</h1>
<% @groups.each do |group| %>
  <%= image_tag (group.image) %>
  <%= group.name %>
  <%= group.city %>
  <br>
  <%= group.description %>
<% end %>

<h1>user's meeting</h1>
<% @meetings.each do |meeting| %>
  <%= meeting.title %>
  <%= meeting.time %>
  <%= meeting.description %>
<% end %>

