<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Budbee", groups_path, class: "logo-link" %>

  <div class="d-flex">
    <div class="search">
      <%= form_tag groups_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "find a group"
      %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
       <!-- <%#= simple_form_for :search, url: root_path, method: :get do |f| %> -->
        <!-- <div class="search-form-control form-group"> -->
          <!-- <input class="form-control string required" type="text" name="search[query]" id="search_query" /> -->
          <!-- <button name="button" type="submit" class="btn btn-flat"> -->
            <!-- <i class="fas fa-search"></i> -->
          <!-- </button> -->
        <!-- </div> -->
      <%# end %>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <%= link_to "Find a group", groups_path, class: "nav-link budbee-nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link budbee-nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Register", new_user_registration_path, class: "nav-link budbee-nav-link" %>
        </li>
        <li class="nav-item dropdown">
        <% unless current_user.nil? %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Profile", profile_path(@groups, @user), class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
        <% end %>
        </li>
      </ul>
    </div>

  </div>
</div>
