
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Budbee", "#", class: "logo-link" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-flex">
    <div class="search">
      <%= form_tag groups_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "find a group"
      %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
      <% end %>
       <!-- <%#= simple_form_for :search, url: root_path, method: :get do |f| %> -->
        <!-- <div class="search-form-control form-group"> -->
          <!-- <input class="form-control string required" type="text" name="search[query]" id="search_query" /> -->
          <!-- <button name="button" type="submit" class="btn btn-flat"> -->
            <!-- <i class="fas fa-search"></i> -->
          <!-- </button> -->
        <!-- </div> -->
      <%# end %>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- PATH -->
        <%= link_to "Find a group", "#", class: "nav-link budbee-nav-link" %>
        <!-- <a class="nav-link" href="http://localhost:3000/">Home</a> -->
        <!-- PATH -->
        <%= link_to "Login", "#", class: "nav-link budbee-nav-link" %>
        <!-- PATH -->
        <%= link_to "Register", "#", class: "nav-link budbee-nav-link" %>
        <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
